

#pokemon_info{
    display: grid;

    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
}

.pokemon-name{
    grid-column: 1;
}

.pokemon-image{
    grid-column: 2;
}

.type-1{
    grid-column: 3;
}

.type-2{
    grid-column: 4;
}

#search_results{
    max-height: 100px;
    width: 300px;
    overflow: auto;
}

#search_results > * {
    border: 1px solid black;
}