:root{
    --bg-color: rgb(40, 40, 40);
    --bad-guess-color: red;
}

*{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    background-color: var(--bg-color);
    color: white;
}

html, body{
    padding: 0;
    margin: 0;
}

#play_dialog::backdrop{
    background-color: black;
    opacity: 0.75;
}

#contents{
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

#pokemon_info{
    display: grid;

    max-width: max-content;

    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;

    border: 1px solid white;
}

.header{
    background-color: var(--bg-color);
}

.pokemon-name{
    grid-column: 1;

    background-color: var(--bad-guess-color);
}

.pokemon-image{
    grid-column: 2;

    background-color: var(--bad-guess-color);
}

.pokemon-image > *{
    background-color: var(--bad-guess-color);
}

.type-1{
    grid-column: 3;

    background-color: var(--bad-guess-color);
}

.type-2{
    grid-column: 4;

    background-color: var(--bad-guess-color);
}

.evolution-stage{
    grid-column: 5;

    background-color: var(--bad-guess-color);
}

.fully-evolved{
    grid-column: 6;

    background-color: var(--bad-guess-color);
}

.color{
    grid-column: 7;

    background-color: var(--bad-guess-color);
}

.habitat{
    grid-column: 8;

    background-color: var(--bad-guess-color);
}

#search{
    background-color: white;
    color: black;
}

#search_results{
    max-height: 100px;
    width: 300px;
    overflow: auto;
}

#search_results > * {
    border: 1px solid black;
}